<div class="article-container">

  <% @articles.each do |article| %>
    <div class="article-card">

      <div class="article-score">
        <%= link_to "▲", { controller: "articles", action: "index", article: article.id, vote: "up" }, class: "upvote" %>
        <span class="score"><%= article.score.to_s %></span>
        <%= link_to "▼", { controller: "articles", action: "index", article: article.id, vote: "down" }, class: "downvote" %>
      </div>

      <%= link_to article_path(article.id) do %>
        <h4><%= article.title %></h4>
        <p><%= article.content[0..520] %></p>
      <% end %>
    </div>
  <% end %>

</div>
